#pics{
    position: absolute;
    top: 20px;
    right: 80;
    width: 400px;
    height: 100px;
    border: 3px solid #73AD21;
}
#pics2{
    position: absolute;
    top: 150px;
    right: 80;
    width: 300px;
    height: 400px;
    border: 3px solid #73AD21;
}
body {
    background-color: lightblue;
}
#lifeShower{
    color: #0000FF;
}
#levelShower{
    color: #0000FF;
}
#points {
    color: #0000FF;
}
#gamesStat {
    color: #0000FF;
}
#forWrong {
    color: #73AD21;
}